name: Update AoC Progress
on:
  schedule:
    - cron: "0 */6 * * *"  # Toutes les 6 heures
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: k2bd/advent-readme-stars@v1
        with:
          userId: VOTRE_USER_ID
          sessionCookie: ${{ secrets.AOC_SESSION }}
